html {
  font-family: 'Roboto', sans-serif;
}
body {
  font-size: 16px;
}
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: center;
}
section {
  padding-top: 40px;
  padding-bottom: 40px;
}
section h1 {
  margin-bottom: 20px;
}
.section-header h1,
.section-footer h1 {
  margin: 0;
}
.btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
}
.link-logo {
  display: block;
  max-width: 200px;
  padding: 10px 0;
}
.section-header {
  position: absolute;
  padding-top: 0;
  padding-bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.section-header .nav-menu a {
  display: block;
  margin: 0 10px;
}
.section-banner {
  position: relative;
  height: 100vmin;
  background: url("../assets/img.png") no-repeat center center;
}
.section-banner::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
  .section-banner {
    height: 80vmin;
  }
}
.section-banner .grid,
.section-banner .row {
  height: 100%;
}
.section-banner .row {
  z-index: 1;
}
.section-banner h1 {
  color: #f4f4f4;
}
.section-resources .block {
  margin: 20px 0;
}
.section-resources .icon-block {
  text-align: center;
}
.section-resources i {
  font-size: 40px;
}
@media (min-width: 992px) {
  .section-resources i {
    font-size: 50px;
  }
}
.section-resources p {
  margin: 0;
}
.section-data strong,
.section-data p {
  font-size: 20px;
}
@media (min-width: 992px) {
  .section-data strong,
  .section-data p {
    font-size: 30px;
  }
}
.section-data strong {
  display: block;
  margin: 20px 0;
}
.section-data i {
  font-size: 50px;
}
@media (min-width: 992px) {
  .section-data i {
    font-size: 60px;
  }
}
.section-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-footer .social-medias a {
  display: block;
  margin: 0 5px;
}
.section-footer address {
  margin: 0;
}
.section-footer i {
  font-size: 30px;
}
